/target
.duckdb/
.env
.env.*
/ducklake_files/
/ducklake_meta/
ducklake.db*

examples/go-adbc/go-adbc
examples/go-sqlx/go-sqlx
examples/rust-adbc/target
examples/rust-client/target
flight-sql-client/target
flight-sql-client/Cargo.lock
examples/rust-client/Cargo.lock
examples/rust-adbc/Cargo.lock
tests/runner/Cargo.lock
tests/runner/target

lcov.info
.vscode/

.venv/
test_*
.python-version
uv.lock
__marimo__
