name: CD

on:
  push:
    tags: ["*"]
env:
  RUST_BACKTRACE: 1
jobs:
  Release:
    name: Cargo Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable

      # cargo publish
      - name: publish crates
        uses: katyo/publish-crates@v2
        with:
          path: "./flight-sql-client"
          args: --allow-dirty --all-features
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          ignore-unpublished-changes: true
